<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>footer</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e01c72fdb9.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="container-fluid">
        <h3>HOTEL MASTER</h3>
        <div p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente</br> quibusdam blanditiis et asperiores illo placeat atque, maxime provident!</p>
        </div>
        <div class="quicklinks">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term and Condition</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">SignIn</a></li>
            </ul>
        </div>
        <div class="icons">
            <ul class="social">
                <li> <a href="#"><i class="fa fa-facebook x"></i></a>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a> </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2021 VosAmica</p>
        </div>
    </footer>
</body>

</html>