
    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h1>Hotel Master</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente</p>
            </div>
            <div class="col-lg-6 col-md-6">
                abc
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
               <h4>Facebook <i class="fa fa-facebook x"></i></h4> 
               <h4>Twitter <i class="fa fa-facebook x"></i></h4> 
               <h4>Instagram <i class="fa fa-facebook x"></i></h4> 
            </div>
            <div class="col-lg-4">
                <a href="/register"><h5>Sign In</h5></a>
                <h5>Blogs</h5>
                <h5>Privacy Policy</h5>
                <h5>Terms and condition</h5>
            </div>
        </div>
        <div class="row">
            <p>Copyright &copy;2021 Hotem Master. All rights reserved.</p>
        </div>
        
        <!-- <h3>HOTEL MASTER</h3>
        <div p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente</br> quibusdam blanditiis et asperiores illo placeat atque, maxime provident!</p>
        </div>
        <div class="quicklinks">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term and Condition</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">SignIn</a></li>
            </ul>
        </div>
        <div class="icons">
            <ul class="social">
                <li> <a href="#"><i class="fa fa-facebook x"></i></a>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a> </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2021 VosAmica</p>
        </div> -->


    </footer>
    <script src="script/index.js"></script>
</body>
</html>


<!-- Ritik code -->
    <!-- <footer class="container-fluid">
        <h3>HOTEL MASTER</h3>
        <div p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente</br> quibusdam blanditiis et asperiores illo placeat atque, maxime provident!</p>
        </div>
        <div class="icons ">
            <ul class="social ">
                <li> <a href="# "><i class="fa fa-facebook x "></i></a>
                    <li> <a href="# "><i class="fa fa-twitter "></i></a>
                        <li> <a href="# "><i class="fa fa-instagram "></i></a>
            </ul>
        </div>

        <div class="quicklinks ">
            <ul>
                <li><a href="# ">SignIn</a></li>
                <li><a href="# ">BLOGS</a></li>
                <li><a href="# ">About Us</a></li>
                <li><a href="# ">Privacy Policy</a></li>
                <li><a href="# ">Term and Condition</a></li>
            </ul>
        </div>
        <div class="contactus">
            <h5>CONTACT US</h5>
            <p class="paraemail">Enter your email:</p>
            <!-- <label for="email">Enter your email:</label > -->
            <!-- <input type="email" id="email" placeholder="enter your email address" name="email" style="margin-bottom: 10px;">
            <div> <textarea id=" message " name="message " placeholder="Write a message.. " style="height:150px"></textarea></div>
        </div>



        <div class="footer-bottom ">
            <p>Copyright &copy;2021 VosAmica</p>
        </div>
    </footer> -->
</body>

</html>