<footer class="container-fluid" style="background-image: linear-gradient(#456d6c, #232323);color:#d8e3e7;padding:2rem 3rem 0 3rem;">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <h1>Hotel Master</h1>
                <p class="pr-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem
                    ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente</p>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-2">
                    <h4><i class="fab fa-facebook-f"></i> Facebook</h4>
                    <h4><i class="fab fa-twitter"></i> Twitter</h4>
                    <h4><i class="fab fa-instagram"></i> Instagram</h4>
                </div>
                <div class="col-lg-4 mt-2">
                    <a href="/login">
                        <h5>Sign In</h5>
                    </a>
                    <a href="/blogs">
                        <h5>Blogs</h5>
                    </a>
                    <a href="/privacy_policy">
                        <h5>Privacy Policy</h5>
                    </a>
                    <a href="/tnc">
                        <h5>Terms and Conditions</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 pr-4 pl-4">
            <h2>Contact us</h2>
            <form method="post" action="/connect">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="usermail">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Your message</label>
                    <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your query"  name="message"></textarea>
                    <small id="emailHelp" class="form-text text-muted">Open for all suggestions and connect us here.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <p class="m-auto p-3" style="opacity: 0.6;font-size: 12px;">Copyright &copy;2021 Hotel Master. All rights reserved.</p>
    </div>


</footer>
<script src="script/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</script>
<script>
    function changeCity()
{
  var name=document.getElementById('city').value;
  var dname=document.getElementById("dname").innerHTML;
  if(name==dname)
  {
    alert(dname);
  }
}
</script>
</body>

</html>
</body>

</html>