<div class="container-fluid" style="border:1px solid; background-image: linear-gradient(#E6DADA, #274046);">
    <%- include('partials/header') %>
    <div class="container p-4" style="text-align:center;background:rgba(63, 71, 63, 0.7);">
        <h1>About Us</h1>
        <h6>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapienteLorem
            ipsum dolor sit amet consectetur, adipisicing elit. Sit dolores perspiciatis unde tempora quasi explicabo sapiente
        </h6>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="css/images/user.png" alt="developer's photo" style="width:17rem;margin:auto;">
                <div class="card-body">
                  <h5 class="card-title">Rishabh Jain</h5>
                  <p class="card-text">
                      Web Developer.
                  </p>
                  <button class="btn btn-dark">Instagram</button>
                  <button class="btn btn-dark">Linked In</button>
                  <button class="btn btn-dark">Github</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="css/images/user.png" alt="developer's photo" style="width:17rem;margin:auto;">
                <div class="card-body">
                  <h5 class="card-title">Ritik Garg</h5>
                  <p class="card-text">
                      Web Developer.
                  </p>
                  <button class="btn btn-dark">Instagram</button>
                  <button class="btn btn-dark">Linked In</button>
                  <button class="btn btn-dark">Github</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="css/images/user.png" alt="developer's photo" style="width:17rem;margin:auto;">
                <div class="card-body">
                  <h5 class="card-title">Divya Goyal</h5>
                  <p class="card-text">
                      Web Developer.
                  </p>
                  <button class="btn btn-dark">Instagram</button>
                  <button class="btn btn-dark">Linked In</button>
                  <button class="btn btn-dark">Github</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="css/images/user.png" alt="developer's photo" style="width:17rem;margin:auto;">
                <div class="card-body">
                  <h5 class="card-title">Deepshikha</h5>
                  <p class="card-text">
                      Web Developer.
                  </p>
                  <button class="btn btn-dark">Instagram</button>
                  <button class="btn btn-dark">Linked In</button>
                  <button class="btn btn-dark">Github</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>