<%- include('partials/header') %>
    <div class="container">
        <div class="row m-auto p-0">
            <%for(var i=0;i<8;i++){%>
            <div class="item col-lg-3 col-md-4 col-6 p-0">
                <a href="css\images\Luxury-tourism-1024x761.jpg" class="fancybox" data-fancybox="gallery1">
                    <img src="css\images\Luxury-tourism-1024x761.jpg" alt="public image" width="100%" height="100%">
                </a>
            </div>
            <%}%>
        </div>
    </div>
<%- include('partials/footer') %>
