<div class="container-fluid" style="border-top:1px solid; background-image: linear-gradient(#E6DADA, #274046);">
    <%- include('partials/header') %>
    <div class="row m-auto p-3">
        <%for(var i=0;i<8;i++){%>
        <div class="item col-lg-3 col-md-4 col-6 p-0">
            <a href="css\images\Luxury-tourism-1024x761.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="css\images\Luxury-tourism-1024x761.jpg" alt="public image" width="100%">
            </a>
        </div>
        <%}%>
    </div>
</div>
<%- include('partials/footer') %>
