<%- include('partials/header') %>

    <div class="container-fluid row " style="height: 30rem;">
        <div class="col-lg-2 col-md-4">
            <div class="sidebar">
                <div class="row" style="margin-top: 15px; margin-left: 15px;">
                    <div><img class="profile" src="css/images/logooo.jpeg">
                        <p class="name">RITK GARG</p>
                        <p class="email">ritigarg@gmail.com</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; margin-left: 15px;">
                    <button class="edit btn-dark">EDIT PROFILE</button >
                </div>
                <div class="row" style="margin-top: 10px; margin-left: 15px;">
                    <button class="logout btn-dark">LOG OUT</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center" style="margin-top: 15vh; color:white;">
            user gallery
        </div>


        <div class="col-lg-4 col-md-2">
            <div class="row" style="margin-top:50px;">
                <h5 class="current1 ">CURRENT BOOKING</h5>
            </div>
            <div class="row">
                <button class="current2 btn-dark">CURRENT ROOMS</button >
                </div>
            </div>
        </div>
            


    <%- include('partials/footer') %>