<form action="/hotel" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="locations" placeholder="locations">
    <input type="submit" name="submit">
</form>