<div class="brand-body">
    <%- include('partials/header') %>
    <nav class="navbar fixed-bottom navbar-light bg-light container">
        <form action="/searchHotels" method="post" class="mx-auto">
            <select name="city" id="city" class="dropdown btn btn-md btn-info">
                <option value="Delhi">Delhi</option>
                <option value="Lucknow">Lucknow</option>
                <option value="Goa">Goa</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Agra">Agra</option>
            </select>
            <input type="date" class="btn btn-info btn-md dateStart" name="checkIn" id="chk" onchange="check()" required="true">
            <input type="date" class="btn btn-info btn-md dateEnd" name="checkOut" required="true">
            <input type="submit" name="submit" class="btn btn-info btn-md" value="Search">
        </form>
    </nav>
</div>
<%- include('partials/footer') %>