<%- include('partials/header') %>
    <div class="container-fluid brand-body">
        <div>
            <a href="/login" class="btn btn-dark btn-lg">LOGIN</a>
            <a href="/login" class="btn btn-light btn-lg">Register</a>

        </div>
    </div>
<%- include('partials/footer') %>