<html>
    <head>
        <title>
            Vos Amica
        </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="parent">
            <div id="upper">
                <div class="shell1">
                    <p>
                        <a href="">Login</a>
                    </p>
                </div>
                <div class="shell1" style="margin-top:30px;">
                    <p>
                        <a href="">Parts</a>
                    </p>
                </div>
                <div class="shell1" style="margin-top:80px; margin-left: 30px;">
                    <p>
                        <a href="">Login</a>
                    </p>
                </div>
            </div>
            <div id="lower">
                <div id="lower1">
                    <h1>Vos Amica</h1>
                </div>
                <div id="lower2">
                    <div class="shell2" style="margin-left:10px;margin-top: -10px;">
                        <p style="padding-top: 45px;">
                            <a href="">Options</a>
                        </p>
                    </div>
                    <div class="shell2" style="margin-top:20px;">
                        <p style="padding-top: 45px;">
                            <a href="">Suggest</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>