<%- include('partials/header') %>

    <div class="container">
        <h2 style="text-align:center;padding:1.5rem;color:rgb(0, 51, 71);">SEARCH HOTEL IN YOUR CITY</h2>
    </div>
    <div class="container">
        <div class="row m-auto">
            <div class="m-auto">
                <form action="/check" method="post">
                    <select class="dropdown btn-lg dropdown" id="city" name="city" style="color: #fff;background-color: #17a2b8; border-color:#17a2b8; font-size: x-large;">
                        <option value="Delhi">Delhi</option>
                        <option value="Lucknow">Lucknow</option>
                        <option value="Goa">Goa</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Jaipur">Jaipur</option>
                        <option value="Agra">Agra</option>
                    </select>
                    <input type="date" class="btn btn-info btn-lg">
                    <input type="date" class="btn btn-info btn-lg">
                    <input type="submit" name="submit" value="submit">
                </form>
            </div>
        </div>
        <div class="row mb-4">
            <% for(var i=0; i<hotel.length; i++) { %>
            <div class="col-lg-3 col-md-4 col-12 card p-0 mt-4">
                <img class="card-img-top" src="css/images/luxury-hotel-room-bedroom-furniture-set-wallpaper-preview.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=hotel[i].name%>
                    </h5>
                    <p class="card-text">
                        <b id="dname"><%=hotel[i].locations%></b>, India. <br> Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="/hotel_details" class="btn btn-primary">Know More...</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <%- include('partials/footer') %>