* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    background-color: black;
    font-family: "open sans-serif";
    padding-top: 20px;
    color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.para {
    padding-bottom: 4vh;
}

.footer-bottom {
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
    padding-top: 57px;
    font-size: 1.3rem;
}

.social {
    list-style: none;
    margin-top: -10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 9vh;
}

.social li a:hover i {
    background: white;
}

.social li a .fa {
    color: blue;
    font-size: 30px;
    margin-bottom: 1rem;
}

.quicklinks {
    margin-top: -30vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.quicklinks ul li {
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.quicklinks ul li a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.contactus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: -39vh;
}

.paraemail {
    font-size: 1rem;
}

@media only screen and (max-width: 1230px) {
    .quicklinks {
        display: block;
    }
    .social li a {
        display: block;
    }
    .contactus {
        display: block;
    }