                                    * {
                                    margin: 0px;
                                    padding: 0px;
                                    box-sizing: border-box;
                                }
                                
                                body {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .container-fluid {
                                    background-color: black;
                                    font-family: "open sans-serif";
                                    padding-top: 20px;
                                    color: #fcfcfc;
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                }
                                
                                .para {
                                    padding-bottom: 4vh;
                                    font-size: 1.5rem;
                                }
                                
                                .footer-bottom {
                                    display: flex;
                                    color: white;
                                    justify-content: center;
                                    align-content: center;
                                }
                                
                                .social {
                                    list-style: none;
                                    margin-top: -10rem;
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                }
                                
                                .social li a:hover i {
                                    color: navy;
                                }
                                
                                .social li a .fa {
                                    color: cyan;
                                    font-size: 40px;
                                    margin-bottom: 1rem;
                                }
                                
                                .quicklinks {
                                    /* display: flex;
                            flex-wrap: wrap;
                            flex-direction: column; */
                                }
                                
                                .quicklinks ul li {
                                    list-style: none;
                                    font-size: 30px;
                                    text-decoration: none;
                                }
                                
                                .quicklinks ul li a {
                                    display: flex;
                                    flex-wrap: wrap;
                                    text-decoration: none;
                                    color: white;
                                    float: right;
                                    padding: 8px;
                                }
                                
                                @media only screen and (max-width: 760px) {
                                    .quicklinks ul {
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: column-reverse;
                                    }