html,
body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand > h2 {
    margin: 0;
}
.nav-link > h4 {
    margin: 0;
    font-size:1.5rem;
}

.nav-link > h4:hover {
    border-radius:15px;
    background-color:rgba(42, 42, 80, 0.4);
    color: rgb(245, 245, 245);
}

a
{
    text-decoration: none;
    color: #fff;
}
a:hover
{
    filter: brightness(90%);
    color: grey;
    text-decoration: none;
}

.room-body{
    border: 1px solid brown;
    background-size: 100% 100%;
    background-image:url('images/nine.jpg') ;
}

.brand-body {
    height: 97%;
    border-top: 1px solid;
    background-size: 100% 100%;
    animation-name: slider;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}


@keyframes slider {
    0% {
        background-image: url("images/two.jpg");
    }
    20% {
        background-image: url("images/one.jpg");
    }
    40% {
        background-image: url("images/seven.jpg");
    }
    60% {
        background-image: url("images/three.jpg");
    }
    100% {
        background-image: url("images/six.jpg");
    }
}


@media only screen and (max-width: 1000px) {
    .brand-body {
        height: 60%;
    }
}
@media only screen and (max-width: 1150px) {
    .nav-link > h4 {
        margin: 0;
        font-size:1rem;
    }
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  